<div class="container">
  <mat-nav-list>
    <a mat-list-item *ngFor="let note of (notesList$ | async)" (click)="onNoteClicked(note)">
      {{note.title}}
      <mat-divider></mat-divider>
    </a>
  </mat-nav-list>
</div>
