@use "src/base";

section {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: calc(100vh - 200px);

  mat-card {
    display: flex;
    flex-direction: column;

    align-items: center;

    width: 500px;
  }
}
