<ng-container *ngIf="note$ | async">
  <form [formGroup]="editFormGroup" (ngSubmit)="onSubmit()" novalidate>
    <mat-card>
      <mat-card-title>Заметка</mat-card-title>
      <mat-form-field>
        <mat-label>Заголовок</mat-label>
        <input matInput formControlName="title">
        <mat-error *ngIf="editFormGroup.get('title').invalid">Поле не может быть пустым</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Содержание</mat-label>
        <textarea matInput formControlName="content"></textarea>
        <mat-error *ngIf="editFormGroup.get('content').invalid">Поле не может быть пустым</mat-error>
      </mat-form-field>
      <button mat-raised-button [disabled]="editFormGroup.invalid">Изменить</button>
    </mat-card>
  </form>
</ng-container>
<ng-container *ngIf="!(note$ | async)">
  <mat-card>
    <mat-card-title>Такой заметки нет</mat-card-title>
  </mat-card>
</ng-container>
