@use "src/base";

form {
  width: 100 / 1920 * 600 * 1vw;
  max-height: 100 / 1080 * 700 * 1vh;

  mat-card {
    display: flex;
    flex-direction: column;

    mat-form-field {
      margin-bottom: 20px;

      textarea {
        height: 200px;
        resize: none;
      }
    }
  }
}
