<section class="background">
  <ng-container *ngIf="isActivatedRouteHasChildren()">
    <router-outlet></router-outlet>
  </ng-container>
  <ng-container *ngIf="!isActivatedRouteHasChildren()">
    <mat-card>
      <mat-card-title>Выберите заметку для просмотра или создайте новую</mat-card-title>
    </mat-card>
  </ng-container>
</section>
