@use "src/base";

.background {
  display: flex;
  flex-direction: column;

  width: calc(100vw - 200px);
  min-height: calc(100vh - 60px);
  max-height: calc(100vh - 60px);

  justify-content: center;
  align-items: center;
}
