<ng-container *ngIf="note$ | async">
  <mat-card>
    <mat-card-title>{{(note$ | async)?.title}}</mat-card-title>
    <mat-card-content>{{(note$ | async)?.description}}</mat-card-content>
    <div class="button-row">
      <button mat-raised-button (click)="editNote()">Изменить заметку</button>
      <button mat-raised-button (click)="deleteNote()">Удалить заметку</button>
    </div>
  </mat-card>
</ng-container>
<ng-container *ngIf="!(note$ | async)">
  <mat-card>
    <mat-card-title>Заметки по такому адресу еще нет</mat-card-title>
  </mat-card>
</ng-container>
