mat-card {
  display: flex;
  flex-direction: column;

  align-items: center;

  width: 100 / 1920 * 600 * 1vw;
  max-height: 100 / 1080 * 700 * 1vh;

  mat-card-content {
    overflow-y: scroll;
  }

  .button-row {
    width: 90%;
    display: flex;
    justify-content: space-between;
  }
}
