<form [formGroup]="addFormGroup" (ngSubmit)="onSubmit()" novalidate>
  <mat-card>
    <mat-card-title>Заметка</mat-card-title>
    <mat-form-field>
      <mat-label>Заголовок</mat-label>
      <input matInput formControlName="title">
      <mat-error *ngIf="addFormGroup.get('title').invalid">Поле не может быть пустым</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Содержание</mat-label>
      <textarea matInput formControlName="content"></textarea>
      <mat-error *ngIf="addFormGroup.get('content').invalid">Поле не может быть пустым</mat-error>
    </mat-form-field>
    <button mat-raised-button [disabled]="addFormGroup.invalid">Добавить</button>
  </mat-card>
</form>
