// Dimensions
$adaptive-full-hd-coefficient-width: 100 / 1920 / 100 * 100vw;

// Adaptive container width
$container-adaptive-full-hd-width: $adaptive-full-hd-coefficient-width * 1520;

//Sizes
$header-height: 60px;

body {
  padding: 0;
  margin: 0;
}

.mat-list-base {
  padding: 0;
}

button[mat-raised-button] {
  background: #FFD5C3;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: darkgray;
  border-radius: 2px;
}

*::-webkit-scrollbar-thumb:hover {
  background: gray;
}

*::-webkit-scrollbar {
  width: 4px;
}


